/* main stylesheet */

body {
	background-color: #6f727b;
	color: #373737;
	font-size: 1.6rem;
	line-height: 1.5;
	padding: 40px 0px 180px 0px;
}

.client-container {
	width: 1060px;
	margin: 0px auto 0px auto;
	box-shadow: 0px -3px 6px #333333;
	background-color: #fff;
}