/* main stylesheet */
body {
  background-color: #6f727b;
  color: #373737;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 40px 0px 180px 0px; }

.client-container {
  width: 1060px;
  margin: 0px auto 0px auto;
  box-shadow: 0px -3px 6px #333333;
  background-color: #fff;
  padding: 1rem; }

.button-container {
  text-align: right;
  margin-top: 1rem; }
  .button-container button {
    margin-left: 0.5rem; }

.applicant-row {
  cursor: pointer; }
  .applicant-row:hover {
    background-color: #eaeaea; }

.modal-content {
  font-size: 1.1rem; }

.modal#detail-modal {
  max-width: 990px; }

.search-bar {
  font-size: 1.2rem;
  text-align: right; }

.search-input, .search-field {
  width: 20rem;
  display: inline-block;
  margin-left: 0.5rem; }

.search-term-block {
  display: inline-block;
  text-align: left; }
